<!doctype html>
<html lang="en">
<head>
    <title>ClDong</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/login/css/style.css">

</head>
<body>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
                    <form>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputUsername" placeholder="myusername"
                                   required autofocus>
                            <label for="floatingInputUsername">Username</label>
                        </div>

                        <hr>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPasswordConfirm"
                                   placeholder="Confirm Password">
                            <label for="floatingPasswordConfirm">Confirm Password</label>
                        </div>

                        <hr>

                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="floatingInputEmail"
                                   placeholder="name@example.com">
                            <label for="floatingInputEmail">Email address</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="floatingInputEmailCh" placeholder="emailCheck">
                            <label for="floatingInputEmail">Email Check</label>
                        </div>
                        <button class="btn btn-emailCk btn-primary" type="button" onclick="emailCheck()">emailCheck
                        </button>

                        <hr>

                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">
                                Register
                            </button>
                        </div>

                        <hr class="my-4">

                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-google btn-login fw-bold text-uppercase" type="submit">
                                <i class="fab fa-google me-2"></i> Sign up with Google
                            </button>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase" type="submit">
                                <i class="fab fa-facebook-f me-2"></i> Sign up with Facebook
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/login/js/jquery.min.js"></script>
<script src="/login/js/bootstrap.min.js"></script>
<script src="/login/js/main.js"></script>
<script>

    function emailCheck() {
        $.ajax({
            url: "/emailConfirm",
            type: "POST",
            dataType: "json",
            data: {
                email: $("#floatingInputEmail").text()
            },
            beforeSend: function (xhr) {
                //이거 안하면 403 error
                //데이터를 전송하기 전에 헤더에 csrf값을 설정한다
                // var csrf = $("#csrf");
                // xhr.setRequestHeader(csrf.data("token-name"), csrf.val());
            },
            success: function (response) {
                if (response.code == "200") {
                    // 정상 처리 된 경우

                } else {
                    alert(response.message);
                }
            },
            error: function (a, b, c) {
                console.log(a, b, c);
            }

        })
    }
</script>
</body>
</html>

