<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/main/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/main/css/styles.css" rel="stylesheet"/>
    <link href="/main/css/replyStyle.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<div th:include="nav"></div>
<input type="hidden" id="bid" th:value="${bid}">
<input type="hidden" id="page" th:value="${page}">
<!-- video-->
<div>
    <!--    <div class="ratio ratio-16x9 border bg-black">-->

    <!--    </div>-->
    <div class="embed-responsive embed-responsive-16by9 bg-black" style="
    display: flex;
    justify-content: space-around;">
        <video class="embed-responsive-item" controls>
            <source th:src="|https://s3.ap-northeast-2.amazonaws.com/gkrgry-test/cldong/${vid}|">
        </video>
    </div>
</div>
<br>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title" th:text="${bTitle}"></h5>
        <p class="card-text" th:text="${bContent}"></p>
    </div>
    <div class="card-footer text-muted" th:text="${uid}">
        2 days ago
    </div>
</div>
<br>
<!-- 개인 메세지 -->
<br>
<br>
<!-- reply -->
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-comment">
                <section>
                    <h3 class="text-success" style="display: inline">Comments</h3>
                    <i class="pull-right" style="float: right"><a href="#" data-bs-toggle="modal"
                                                                  data-bs-target="#myModal"
                                                                  id="replyInsert">Reply</a></i>
                </section>
                <hr/>
                <ul class="comments">
                    <div id="replys">
                        <!--                    <li  class="clearfix">-->
                        <!--                        <img src="./blank_profile.png" class="avatar" alt="">-->
                        <!--                        <div class="post-comments">-->
                        <!--                            <p class="meta" id="replyRegDate">Dec 18, 2014 </p><p class="meta" id="replyUserId">JohnDoe</p>&lt;!&ndash; says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>&ndash;&gt;-->
                        <!--                            <p id="replyContent">-->
                        <!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
                        <!--                                Etiam a sapien odio, sit amet-->
                        <!--                            </p>-->
                        <!--                        </div>-->
                        <!--                    </li>-->
                    </div>
                    <!-- paging -->
                    <div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center" id="replyPage">
                            </ul>
                        </nav>
                    </div>
                    <!--                <li        구현 목표-->
                    <!--                        <ul class="comments">
                                                <li class="clearfix">
                                                    <img src="https://bootdey.com/img/Content/user_3.jpg" class="avatar" alt="">
                                                    <div class="post-comments">
                                                        <p class="meta">Dec 20, 2014 <a href="#">JohnDoe</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Etiam a sapien odio, sit amet
                                                        </p>
                                                    </div>
                                                </li>
                                          </ul>
                                        </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reply</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" name="myInput" id="myInput">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="btReplyInsert()" class="btn btn-primary" data-bs-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<div th:include="footer"></div>
<script src="/login/js/jquery.min.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/main/js/scripts.js"></script>
<script th:inline="javascript">
    let replyData;      //댓글 데이터
    let replyHtml = '';
    let replyPageHtml = '';

    function btReplyInsert() {
        $.ajax({
            url: "/reply/insert",
            type: "post",
            data: {
                bid: $("#bid").val(),
                content: $("#myInput").val()
                // password: $("#password").val()
            },
            // beforeSend: function (xhr) {
            //     //이거 안하면 403 error
            //     //데이터를 전송하기 전에 헤더에 csrf값을 설정한다
            //     // var csrf = $("#csrf");
            //     // xhr.setRequestHeader(csrf.data("token-name"), csrf.val());
            // },
            success: function (response) {
                replyRead(0);
            },
            error: function (a, b, c) {
                console.log(a, b, c);
            }

        })
    }

    let myInput = document.getElementById('myInput')
    let myModal = document.getElementById('myModal')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })

    function replyRead(page) {
        $.ajax({
            url: "../reply/read?page=" + page,
            type: "GET",
            dataType: "json",
            data: {
                bid: $("#bid").val()
                // password: $("#password").val()
            },
            // beforeSend: function (xhr) {
            //     //이거 안하면 403 error
            //     //데이터를 전송하기 전에 헤더에 csrf값을 설정한다
            //     var csrf = $("#csrf");
            //     xhr.setRequestHeader(csrf.data("token-name"), csrf.val());
            // },
            success: function (response) {

                replyData = response;
                replyHtmlF(replyData);
                replyPage(replyData);
                replyData = "";

            },
            error: function (a, b, c) {
                console.log(a, b, c);
            }

        })

        function replyHtmlF(data) {
            for (let i = 0; i < data.content.length; i++) {
                replyHtml = replyHtml + "<li class='clearfix'> " +
                    "<img src='./blank_profile.png' class='avatar'> " +
                    "<div class='post-comments'>" +
                    "<p class='meta' id='replyRegDate'>" +
                    DataFormat(data.content[i].regDate) +
                    "</p><p class='meta' id='replyUserId'>"
                    + data.content[i].uid.uid + "</p>" +
                    "<p id='replyContent'>" +
                    data.content[i].content +
                    "</p>" +
                    "</div> " +
                    "</li>";
            }
            console.log(data.content[1]);
            $("#replys").html(replyHtml);
            replyHtml = "";
        }

        function replyPage(data) {
            replyPageHtml = replyPageHtml + "<li class='page-item'><a class='page-link' href='/prev'>Prev</a></li>"
            for (let i = 0; i < data.totalPages; i++) {
                replyPageHtml = replyPageHtml + "<li class='page-item'><button class='page-link' onclick='replyRead(" + i + ")'>" + (i + 1) + "</button></li>";
            }
            replyPageHtml = replyPageHtml + "<li class='page-item'><a class='page-link' href='./next'>Next</a></li>"

            $("#replyPage").html(replyPageHtml);
            replyPageHtml = "";
        }
    }

    $(document).ready(function () {

        replyRead(0);


    });

    function DataFormat(data) {
        let yyyy = data.substring(0, 10);
        return yyyy;
    };


</script>
</body>
</html>
